.entry {
	> ::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: -5%;

		width: 110%;
		height: 1.5px;

		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	&[data-active], &:hover {
		> ::before {
			transform: scaleX(1);
		}
	}
}